app.component.css
.search-form {
    margin-bottom: 40px;
}

button {
    margin-left: 10px;
    color: #fff;
    background-color: #009b25;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 18px;
    cursor: pointer;
}
 /* index-html.css
  <style> */
    body {
      font-family: 'Helvetica', 'Courier';
    }

    h3 {
        color: #34495E;
    }
  /* //</style> */
 orbit-count-component.css
.counts {
    background: #34495E;
    color: #fff;
    border-radius: 5px;
    width: 225px;
}

.counts div {
    padding: 8px;
}

.counts span {
    float: right;
}
 orbit-list-component.css
.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #d18ada;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #bbe3e9;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}